@model NOTEit.ViewModels.WishMark.WishMarkFormViewModel

@{
    ViewBag.Title = "Erstellen";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Wunschnote</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_Form")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#Subject").chosen({
                placeholder_text_single: "Wählen Sie ein Fach aus",
                no_results_text: "Sie haben noch kein Fach erstellt"
            });

            $("#Semester").chosen({
                placeholder_text_single: "Wählen Sie ein Semester aus",
                no_results_text: "Sie haben noch kein Semester erstellt"
            });
        });
    </script>
}